:root body div.sitetable div.comment {
  padding-left: 20px !important;
  position: relative !important;
}

:root body div.sitetable div.comment .entry {
  position: initial !important;
}

:root body div.sitetable div.comment .entry:before {
  width: 0 !important;
}

:root body div.sitetable div.comment .child {
  padding-left: 0 !important;
  margin-left: 0px !important;
  border-left: 0 !important;
}

:root body div.sitetable div.comment .midcol {
  margin-left: 0px !important;
}

:root body .expand::before,
:root body .expand::after {
  content: initial !important;
}

/* Style */
:root body div.sitetable div.comment .expand {
  all: initial !important;
  background-color: rgba(255, 255, 0, 0.05) !important;
  border: 1px dotted rgba(0, 0, 0, 0.1) !important;
  border-radius: initial !important;
  height: 100% !important;
  left: 0 !important;
  font-size: 10px !important;
  margin: initial !important;
  padding: initial !important;
  position: absolute !important;
  top: 0 !important;
  width: 15px !important;
  text-align: center !important;
  transition: initial !important;
}

:root body div.sitetable div.comment .expand:hover {
  background-color: rgba(255, 255, 0, 0.3) !important;
  text-decoration: initial !important;
}

:root body.res div.sitetable div.comment .expand {
  border: none !important;
}

:root body.res-nightmode .comment .expand {
  color: #DDDDDD !important;
}

/* Retro Style */
:root body.rcc-retro div.sitetable div.comment .expand {
  all: initial !important;
  cursor: pointer !important;
  height: 100% !important;
  left: 0 !important;
  font-size: 10px !important;
  margin: initial !important;
  padding: initial !important;
  position: absolute !important;
  top: 0 !important;
  width: 15px !important;
  text-align: center !important;
  transition: initial !important;
}

:root body.rcc-retro div.sitetable div.comment .expand:before {
  content:"" !important;
  opacity: .4 !important;
  position: absolute !important;
  top: 20px !important;
  background-repeat: repeat-y !important;
  background-position: center !important;
  height: 100% !important;
  width: 100% !important;
  left: 0 !important;
}

:root body.rcc-retro div.sitetable div.comment .expand:hover:before {
  opacity: 1 !important;
  text-decoration: initial !important;
}
